<html>
  <head>
     <script src="https://kit.fontawesome.com/a1f18782ab.js" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <p id="notice"></p>
    <div style="text-align: center">
      <h1>Welcome to <i class="fa-solid fa-book"></i><b>Bookers</b>!</h1>
    </div>
  </body>
    
</html>
